## NAME: OMAR HASSAN MOHAMED
### ASSIGMENT 1

### Section 1: Printing Messages 
1. Write a Python program to print the following message on the screen: 
"Hello, Python learners! Today we start our coding journey." 
2. Challenge: Print a multi-line message using triple quotes that includes your name and 
favorite programming language.

In [5]:
print("Hello, Python learners! Today we start our coding journey.")

Hello, Python learners! Today we start our coding journey.

In [6]:
print("""name : omar 
age : 20
job : DA""")

name : omar
age : 20
job : DA

### Section 2: Variables and Data Types 
1. Create a variable called age and assign it your age. Print a message that says, "I am 
[age] years old." 
2. Challenge: Create three variables of different data types (integer, float, and string). Print 
each variable with a description of its data type

In [7]:
age = 20
print(f"I am {age} years old")

I am 20 years old

In [8]:
# Challenge
intt = 20
flo = 2.5
my_string ="omar hassn"
print(f"int {intt}")
print(f"float  {flo}")
print(f"str {my_string}" )

int 20
float  2.5
str omar hassn

### Section 3: Working with Strings 
1. Given the string text = "Python is amazing", write a program to extract and print the 
word "amazing" from it. 
2. Challenge: Concatenate two strings, first_name and last_name, with a space in between, and 
print the full name in uppercase.

In [11]:
text = "Python is amazing"
print(text[10:17])

amazing

In [ ]:
# Challenge
first_name  ="omar"
last_name ="hassan"
full_name= first_name+" "+last_name
print(full_name.upper())

OMAR HASSAN

### Section 4: Basic Operations 
1. Write a program to calculate the area of a rectangle with a width of 5 and a height of 
10. 
Challenge: Create two numbers, a = 20 and b = 7, and print the result of each arithmetic 
operation: addition, subtraction, multiplication, division, and modulo.

In [27]:
w=5
h=10
a = w*h
print(a)

50

In [ ]:
# Challenge
a=20
b=7
sum = a+b
multi = a*b
div=a/b
sub=a-b
modul=a%b
print(sum)
print(multi)
print(div)
print(sub)
print(modul)

27
140
2.857142857142857
13
6

### Section 5: Lists and Tuples 
1. Create a list of five of your favorite foods. Print the entire list, then print the third 
item in the list. 
2. Challenge: Convert the list into a tuple, and try to change the first item in the tuple. Observe 
and explain the result.

In [12]:
foods=["pasta" ,"pizza" , "krep" ,"checken"]
print(foods)
print("third item",foods[2])

['pasta', 'pizza', 'krep', 'checken']
third item krep

In [ ]:
# Challenge
names = ["omar" ,"hassan","mohamed", "ammar"]
tupl =tuple(names) 
tupl[0]= "ziad "
#typeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

### Section 6: String Manipulation and Slicing 
1. Given the string sentence = "Learning Python is fun!", write a program to slice and 
print the word "Python" from it. 
2. Challenge: Replace the word "fun" with "awesome" in the sentence and print the new 
sentence.

In [15]:
my_str= "Learning Python is fun!"
print(my_str[9:16])

Python

In [18]:
# Challenge
new_str =my_str.replace("fun","awesome")
print(new_str)

Learning Python is awesome!

### Section 7: Dictionaries 
1. Create a dictionary called student with the keys name, age, and grade. Assign values 
to each key and print the dictionary. 
2. Challenge: Add a new key city to the dictionary and set it to any city name. Print the 
updated dictionary.

In [20]:
student = {
    "name":"omar",
    "age": 20,
    "grade":95
}
print(student)
# Challenge
student["city"] ="Giza"
print(student)

{'name': 'omar', 'age': 20, 'grade': 95}
{'name': 'omar', 'age': 20, 'grade': 95, 'city': 'Giza'}

### Section8: Basic Arithmetic Operations 
1. Write a program that takes two numbers from the user and prints their sum, 
difference, product, and division result. 
2. Challenge: Use the modulo operator to check if the first number is divisible by the second 
number, and print the result as "Divisible" or "Not Divisible"

In [23]:
num1=int(input("please enter a number"))
num2=int(input("please enter a number"))
sum_num= num1 + num2
product = num1 * num2
division=num1 / num2
dif=num1 - num2
module=num1 % num2
print(sum_num)
print(product)
print(division)
print(dif)
print(module)
# Challenge
if num1 % num2 == 0:
    print("Divisible")
else:
    print(" Not Divisible")

19
90
1.1111111111111112
1
1
 Not Divisible